 <br />
<div class="col s12 l10 offset-l1 black-text">
  <div class="card  z-depth-1">
    <div class="card-content">
      <div class="row">
        <div class="col s12 m4 l4 center">
          <h5>Total Budget</h5>
          <p class="red-text">P {{totalBudget}}</p>
        </div>
        <div class="col s12 m4 l4 center">
          <h5>Pending Budget</h5>
          <p class="red-text">P {{pendingBudget}}</p>
        </div>
        <div class="col s12 m4 l4 center">
          <h5>Resulting Budget</h5>
          <p class="red-text">P {{resultingBudget}}</p>
        </div>
      </div>
    </div>
  </div>
</div>