<div class="fixed-action-btn toolbar">
	<a class="btn-large black z-depth-0">
	  <i class="large material-icons">menu</i>
	</a>
	<ul>
	  <li class="waves-effect waves-light"><a href="#!">Transfer</a></li>
	  <li class="waves-effect waves-light"><a href="#!">Approve</a></li>
	  <li class="waves-effect waves-light"><a href="#!">History</a></li>
	  <li class="waves-effect waves-light"><a href="#!">Member Exchange</a></li>
	</ul>
</div>