<div class="fixed-action-btn toolbar">
	<a class="btn-large black z-depth-0">
	  <i class="large material-icons">menu</i>
	</a>
	<ul>
	  <li class="waves-effect waves-light"><a href="/apartment_transfer">Transfer</a></li>
	  <li class="waves-effect waves-light"><a href="/apartment_approve">Approve</a></li>
	  <li class="waves-effect waves-light"><a href="/apartment_history">History</a></li>
	  <li class="waves-effect waves-light"><a href="/apartment_members">Member Exchange</a></li>
	</ul>
</div>