<nav>
    <div class="nav-wrapper blue-grey darken-1 z-depth-3 ">
      <a href="/" class="brand-logo center"><span>Liger Digital Currency</span></a>

      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">P</i></a>
      <ul id="slide-out" class="side-nav fixed blue-grey darken-3 z-depth-3">
        <li class="z-depth-1">
          <div class="userView">
          
            <div class="background">
              <img src="http://dpshots.com/images/rain_photography/rain-on-a-sunny-day.jpg">
            </div>
            <a href="#!user"><img class="circle z-depth-3" src="https://parade.com/wp-content/uploads/2015/10/steve-jobs-ftr.jpg"></a>
            <a href="#!name"><span class="white-text name">Steve Jovs</span></a>
            <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
          </div>
        </li>
        <li class="tiny receipt-icon"><a href="#" class="white-text">Transfer</a></li>
        <li><a href="#" class="white-text">Aproving</a></li>
        <li><a href="#" class="white-text">Exchange Lists</a></li>
        <li><a href="#" class="white-text">History</a></li>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li>
          <div class="userView">
            <div class="background">
              <img src="http://dpshots.com/images/rain_photography/rain-on-a-sunny-day.jpg">
            </div>
            <a href="#!user"><img class="circle" src="https://parade.com/wp-content/uploads/2015/10/steve-jobs-ftr.jpg"></a>
            <a href="#!name"><span class="white-text name">Steve Jovs</span></a>
            <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
          </div>
        </li>
        <li><a href="#">Transfer</a></li>
        <li><a href="#">Aproving</a></li>
        <li><a href="#">Exchange Lists</a></li>
        <li><a href="#">History</a></li>
      </ul>
    </div>
  </nav>