<aside class="bg-dark">
    <div class="container-fluid text-center">
        <h3 class="h3"><a href="/" class="none">LIGER DIGITAL CURRENCY</a></h4>
        </br>  
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-4">
                <a href="#" class="none">
                    <span class="fa fa-4x fa-newspaper-o"></span>
                    <h5>TUTORIAL</h4>
                </a>
            </div>

            <div class="col-lg-4 col-sm-4 col-xs-4">
                <a href="/about_us" class="none">
                    <span class="fa fa-users fa-4x "></span>
                    <h5>ABOUT US</h4>
                </a>
            </div>

            <div class="col-lg-4 col-sm-4 col-xs-4">
                <a href="#" class="none">
                    <span class="fa fa-comments fa-4x"></span>
                    <h5>CONTACT US</h4>
                </a>
            </div>
        </div>  
    </div>
</aside>