<nav class="navbar text-center" style="background-color: #009cff; border-radius: 0px;">
    <div class="container">
	    <div class="navbar-header">
	        <div class="animbrand text-center">
	          <a class="navbar-brand animate" href="/" style="color: white;">LIGER DIGITAL CURRENCY</a>
	        </div>
	      </div>
    </div>     
</nav>