<div class="navbar">
	<nav class="nav-extended">
		<div class="nav-wrapper blue-grey black">
			<a href="#" class="brand-logo center">{{#if keeper}}Keeper Approval{{/if}} RE's Approval</a>
			<ul>
				<li><a href="/transfer_personal">Return</a></li>
			</ul>
		</div>
	</nav>
</div>

{{#if keeper}}
<div class="fixed-action-btn toolbar">
	<a class="btn-large black z-depth-0">
	  <i class="large material-icons">menu</i>
	</a>
	<ul>
	  <li class="waves-effect waves-light"><a href="/keeper/p/d">Withdrawal</a></li>
	  <li class="waves-effect waves-light"><a href="/keeper/d/p">Deposit</a></li>
	</ul>
</div>	
{{/if}}