<footer class="page-footer grey darken-3">
  <div class="container center">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Liger Digital Currency</h5>
        <p class="grey-text text-lighten-4">We are a group made up of 12 students and a facilitator from the Liger Digital Currency Exploration whose intention is to construct a digital system of exchanging our own Liger currency called Pedros(LCU).</p>
        <h6 class="white-text" style="font-weight: bold;">Learning Facilitator: Alli Bukys</h6>
      </div>
      <div class="col l6 s12">
        <h5 class="white-text">L.D.C Members</h5>
        <p class="grey-text text-lighten-4">Khom Seyha, Lim Menghouth, Loeurng Pho Sreyneang, Ly Nilroth, Nop Chanketya, Nuon Sineoun Samnang, Pich Sovannou, Poy Makara, Rith Chanmalika, Than Venghour, Sam Sreynith, Saosuo Visal, Vey Vuthy</p>
        <h6 class="white-text" style="font-weight: bold;">Direct by<a class="grey-text text-lighten-4" href="http://www.ligerlearning.org/">: Liger Leadership Academy</a></h6>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
  </div>
</footer>
