<nav class="navbar" id="mainNav" role="navigation">
    <div class="container">
      <div class="navbar-header">

        <div class="animbrand">
          <a class="navbar-brand animate" href="#">LIGER DIGITAL CURRENCY</a>
        </div>
      </div>
  <div class="bsa-apiads hidden-sm hidden-xs"></div>
      {{#if user}}

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-th" style="transform:scale(1.5,1.5);"></span>
            </a>

            <ul class="dropdown-menu">
              <li><a href="/transfer">Transfer</a></li>
              <li><a href="/exchange">Exchange</a></li>
              <li><a href="/history">History</a></li>
              <li><a href="/setting" id="nav-setting">Setting</a></li>
              <li><a href="/logout" id="nav-sign-out">Log Out</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="'{{user.picture}}'" class="img-circle" style="transform:scale(1.5,1.5);">
              
            </a>

            <ul class="dropdown-menu btn-success">
              <img src="lang-logo.png" class="img-text-center img-circle">
              <li class="text-center"><a href="/transfer">{{user.displayName}}</a></li>
            </ul>
          </li>

        </ul>
      
      {{/if}}
</div>
      <div class="bootsnipp-search">
        <div class="container">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-danger" type="reset">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
            </div>
        </div>
      </div>
    </div>
</nav>