{{> mainNav}}
<style type="text/css">
h2 {
	text-align: center;
}
.b{
	height: 44vh;
}
.c{
	height: 50vh;
}
a {
	color: rgb(255,255,255);
	font color: "FFFFFF";
}
html {
	font-family: sans-serif;
}
.no-padding{
	padding: 0px;
}
</style>
<body scroll="no" style="overflow: hidden">
	<div class="row container-fluid">
		<a href="/transfer_personal">
		<div class="center-align col l6 m6 s6 white-text b" style="padding: 6%; background-color:#3498DB;">
			<h2>Transfer</h2>
		</div>
		</a>
		<a href="/Exchange">
		<div class="center-align col l6 m6 s6 red-text b" style="padding: 6%; background-color:#FFFFFF">
			<h2>Exchange</h2>
		</div>
		</a>
		<a href="/apartment_transfer">
		<div class="center-align col l6 m6 s6 red-text c" style="padding: 6%; background-color:#FFFFFF">
		<h2>Apartment</h2>
		</div>
		</a>
		<a href="/history_personal">
		<div class="center-align col l6 m6 s6 white-text c" style="padding: 6%; background-color:#3498DB">
		<h2>History</h2>
		</div>
		</a>
	</div>