
<nav class="nav-extended">
	<div class="nav-content amber">
		<ul class="tabs tabs-transparent">
			<li class="tab"><a href="#transfer">Transfer</a></li>
			<li class="tab"><a href="#exchange">Exchange</a></li>
		</ul>
	</div>
</nav>
<script type="text/javascript">
$(document).ready(function(){
// the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
$('.modal').modal();
});
</script>