
<!DOCTYPE html>
<html style="font-family: sans-serif;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- jquery has to go first. -->
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

    <!-- Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- typeIt -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.typeit/3.0.1/typeit.min.js"></script>

   <!--validation-->
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.js"></script>
    <!-- validate plugin
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>-->

    <!-- Auto-filtering 
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>-->

    <!-- Auth0 
    <script src="https://cdn.auth0.com/w2/auth0-7.6.1.min.js"></script>-->


</head>
<body>

    {{{body}}}

</body>

</html>

