<body id="page-top">

    {{> navigation}}

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>About Us</h1>
                <br>
                <div style="width:80%;height:60%;margin:0 auto;"><span><hr></span><span>We are a group made up of 10 students and a facilitator from the Liger Digital Currency Exploration whose intention is to construct a digital system of exchanging our own Liger currency called Pedros (LCU). We spent 14 weeks developing our digital system. Every part of the system, including the currency itself, will be online. In spite of calling it Liger Digital Currency, this system is only circulating in the Senior Cohort at first, not everywhere in Liger. The Senior students will have their personal account and an account for each apartment. They will be utilizing this system for exchanging and transferring money online, which are also the two main features of the system. Students can transfer their money from an account to another account online. The transferring system is for the students to acquire food and pay for their maintenance, electricity, water, and more. In order to make the system function, we need to have a system for exchanging the money from dollars/riels to Pedros and transfer it into their accounts.<span><hr></span></span></div>
            </div>
        </div>
    </header>
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>LIGER DIGITAL CURRENCY</h2>
                <a href="http://www.ligerlearning.org/" class="btn btn-default btn-xl sr-button" target="_blank">Liger Learning Center!</a>
            </div>
        </div>
    </aside>
    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="/js/creative.min.js"></script>
    <script>
            var auth0 = new Auth0({
                domain: '{{env.AUTH0_DOMAIN}}',
                clientID: '{{env.AUTH0_CLIENT_ID}}',
                callbackURL: '{{env.AUTH0_CALLBACK_URL}}'
            });

            function signinGoogle(){
                console.log("hello")
                auth0.signin({
                    connection: 'google-oauth2',
                });
            }
        </script>




</body>