{{> header_apartment}}

<div class="container-fluid">
    <div class="row profile">
		{{> apart_side}}

		<div class="col-md-9">
      <div class="profile-content">
        <div class="bg-danger budget text-center fixed-top">
		   		Budget: {{#each apartmentData}} {{this.budget}} {{/each}}
		   	</div>

		   	<div class=	"body-apartment text-center">
			   	<h1 class="h2">Transfer</h1>
			  	<form class="form-inline" method=post action="/trans_success_apartment">
              <div class="form-group">

               <div class="input-group">
               {{#each apartmentData}} 
                  <div class="input-group-addon">P</div>
                  <input data-validation="number" type="number" data-validation-allowing="float" class="form-control" name="amountTrans" placeholder="Amount" data-validation="required" min="0" max="{{this.budget}}"  step="any" required>
                {{/each}}
               </div>

               <div class="input-group">
                  <div class="input-group-addon">@</div>
                  <input type="email" class="form-control awesomplete" name="recipientTrans" id="userInput" data-validation="email" placeholder="Account" list="liger_email" required>
               </div>

              </div>
            </br>
            </br>
            <div class="input-group">
              <div class="boxed" style="background-color:#c6e2ff; border-radius: 5px;">Reasons</div>
              <div class="wrap">
                <textarea onKeyUp="count_it()" name="reasonTrans" cols="50" maxlength="200" placeholder="Please tell us your reasons for exchanging money!" style="
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                width: 100%;}" required></textarea>
                <span id="count" class="counter"></span>
              </div>
            </div>
            </br>
            </br>
            <input type="submit" value="Submit" class="btn btn-info col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-5" style="background-color: #ee4b28">
          </form>  	
			  </div>
      </div>
		</div>
	</div>
</div>
</br>	
{{> footer}}
<script>
$('#moveBack').on('click', function(event){
    location.href = '/transfer';
});

$(document).ready(function() {
var amount = document.getElementById('amount');
var email = document.getElementById('userInput');
var submit_btn = document.getElementById('submit-btn')

submit_btn.addEventListener("click", function(event) {
  console.log("Click")
  if(amount.validity.rangeOverflow) {
    amount.setCustomValidity("Not enough money to transfer!")
  } else {
    amount.setCustomValidity("");
  } 
  
  if (email.validity.valueMissing){
    email.setCustomValidity("Please enter your recipient's email!")
  } else if (email.validity.patternMismatch){
    email.setCustomValidity("This email is not in the list!")
  } else {
    email.setCustomValidity("")
  }
});
});
</script>
<style type="text/css">
	/***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/
.budget{
	padding: 10px;
}
body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 20px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 45%;
  height: 45%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 0px;
  background: #fff;
  min-height: 460px;
}

.body-apartment{
	padding: 8% 0%;
}
</style>
