{{> header_apartment}}

<div class="container-fluid">
    <div class="row profile">
		{{> apart_side}}

		<div class="col-md-9">
      <div class="profile-content">
        <div class="bg-danger budget text-center fixed-top">
		   		Budget: {{#each apartmentData}} {{this.budget}} {{/each}}
		   	</div>

		   	<div class=	"body-apartment text-center">
			   	<h1 class="h2">Transfer</h1>
			  	<form class="form-inline" method=post action="/trans_success_apartment">
              <div class="form-group">

               <div class="input-group">
               {{#each apartmentData}} 
                  <div class="input-group-addon">P</div>
                  <input data-validation="number" type="number" data-validation-allowing="float" class="form-control" name="amountTrans" placeholder="Amount" data-validation="required" min="0" max="{{this.budget}}"  step="any" required>
                {{/each}}
               </div>

               <div class="input-group">
                  <div class="input-group-addon">@</div>
                  <input type="email" class="form-control awesomplete" name="recipientTrans" id="userInput" data-validation="email" placeholder="Account" list="liger_email" required>
               </div>

              </div>
            </br>
            </br>
            <div class="input-group">
              <div class="boxed" style="background-color:#c6e2ff; border-radius: 5px;">Reasons</div>
              <div class="wrap">
                <textarea onKeyUp="count_it()" name="reasonTrans" cols="50" maxlength="200" placeholder="Please tell us your reasons for exchanging money!" style="
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                width: 100%;}" required></textarea>
                <span id="count" class="counter"></span>
              </div>
            </div>
            </br>
            </br>
            <input type="submit" value="Submit" class="btn btn-info col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-5" style="background-color: #ee4b28">
          </form>  	
			  </div>
      </div>
		</div>
	</div>
</div>
</br>	
{{> apartment_js}}
{{> apartment_css}}
