<body id="page-top">

    {{> navigation}}

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Contact Us</h1>
                <br>
                <div style="width:80%;height:60%;margin:0 auto;"><span><hr></span><span>
                <h1>a-l-l-i-.-b-@-l-i-g-e-r-c-a-m-b-o-d-i-a-.-o-r-g</h1></a><span><hr></span></span></div>
            </div>
        </div>
    </header>
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>LIGER DIGITAL CURRENCY</h2>
            </div>
        </div>
    </aside>

    <!--
    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="/js/creative.min.js"></script>

    -->
    <script>
            var auth0 = new Auth0({
                domain: '{{env.AUTH0_DOMAIN}}',
                clientID: '{{env.AUTH0_CLIENT_ID}}',
                callbackURL: '{{env.AUTH0_CALLBACK_URL}}'
            });

            function signinGoogle(){
                console.log("hello")
                auth0.signin({
                    connection: 'google-oauth2',
                });
            }
        </script>




</body>