<body id="page-top">
  <!--Head-->
  {{> navigation}}
  <!--Body-->
  <div id="center-body">

    <form class="form-inline" id="exchangeForm" method="post" action="/exchange_approving">
      <div class="container text-center" id="win-exchange">
        <h1 class="h1" style="margin-bottom: 20px">Exchanging Money</h1>
        <p class="btn btn-primary">Your Current Budget <span class="badge" style="color: black"> P {{budget}}</span></p>
        <br>
        <br>
        <br>
        <br>
        <div class="form-group">
          <div class="col-sm-12 col-lg-12">
            <div class="input-group">
              <div id="radioBtn" class="btn-group">
                <label class="btn btn-primary btn-lg active" data-toggle="exchangeType" data-title="Dollar to Pedro"><span class="btn-lg">$ </span>Dollar-Pedro<span class="btn-lg"> P</span>
              <input type="radio" id="exchangeType" name="exchangeType" value="Dollar to Pedro" checked></label>
              <label class="btn btn-primary btn-lg notActive" data-toggle="exchangeType" data-title="Pedro to Dollar"><span class="btn-lg">P </span>Pedro-Dollar<span class="btn-lg"> $</span>
              <input type="radio" id="exchangeType" name="exchangeType" value="Pedro to Dollar">
            </label>

          </div>
        </div>
      </div>
    </div>
    <br/>
    <br/>

     <div class="input-group">
        <div class="input-group-addon">$</div>
        <input type="number" class="form-control" name="amount" id="amount" placeholder="Amount" data-validation="number" step="0.01" min="0.25" required>
      </div>
      <div class="input-group">
        <div class="input-group-addon">P</div>
        <input type="number" class="form-control" id="result" name="result" readonly placeholder="Result">
      </div>
      <br>
      <h4>Appointment Date</h4>
      <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        <input class="form-control readonly" size="16" type="text" value="" id="apptDate" placeholder="Choose a date" required> 
        <input type="hidden" id="dtp_input2" value="" name="apptDate" /><br/>
      </div>
      
      <div class="input-group date form_time" data-date="" data-link-field="dtp_input3" data-link-format="hh:00">
        <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span></span>
        <input class="form-control readonly" size="16" type="text" name="apptTime" value="04:00 PM" readonly>
        <!-- <input type="hidden" id="dtp_input3" value="" /> -->
      </div>
      <br>
      <br>

      <div class="input-group">
        <div class="boxed"  style="background-color:#c6e2ff; border-radius: 5px;">Reasons</div>
        <div class="wrap">
          <textarea onKeyUp="count_it()" name="reason" id="reason" rows="4" cols="50" maxlength="200" placeholder="Please tell us your reasons for exchanging money!" style="
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          width: 100%;}" required></textarea>
          <span id="count" class="counter"></span>
        </div>
      </div>
    <br>
    <br>
    <!-- Button trigger modal -->
    <button id="checkValidate" class="btn btn-info col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-5">
    Exchange
    </button>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Exchange Confirmation</h4>
          </div>
          <div class="modal-body">
            <p>Are you sure that you want to exchange <span id="amountExtract" style="font-size:
              30px; color: #EE4B28"></span> <span id="typeExchangeExtract"></span><span id="plural"></span> to <span id="amountExtractResult" style="font-size:
              30px; color: #EE4B28"></span> <span id="currencyName"></span><span id="plural1"></span>.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
              <button type="submit" class="btn btn-primary">Yes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<style type="text/css">
.wrap {
position: relative;
display: inline-block;
}
.wrap span {
position: absolute;
bottom: 5px;
right: 0px;
}
.counter{
background-color: #5dc991;
color: #fff;
font-size: 10px;
padding: 2px 5px;
line-height: 12px;
height: 14px;
text-align: center;
border-top-right-radius: 4px;
border-bottom-left-radius: 4px;
font-weight: 400;
}
</style>
<!--Tail-->
{{> footer}}
<script type="text/javascript" src="/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript">
$('#radioBtn label').on('click', function() {
  var sel = $(this).data('title');
  var tog = $(this).data('toggle');
  $('#' + tog).prop('value', sel);
  $('label[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
  $('label[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
})
$(document).ready(function() {
  var amount = document.getElementById('amount');
  var amount_btn = document.getElementById('checkValidate');
  var result = document.getElementById('result');
  var reason = document.getElementById('reason');
  var span = document.getElementById('amountExtract');
  var date = document.getElementById('apptDate');
  amount.addEventListener("keyup", function(event) {
    result.value = amount.value * 1.00;
  });
  amount_btn.addEventListener("click", function(event) {
    if (amount.validity.valueMissing) {
      amount.setCustomValidity("Please enter a number, {{user._json.given_name}}!");
    } else if (amount.validity.rangeUnderflow) {
      amount.setCustomValidity("You can't exchange money from " + amount.value + "!");
    } else if (amount.validity.stepMismatch) {
      amount.setCustomValidity("Please enter your currency at second decimal place!");
    } else {
      amount.setCustomValidity("");

      if (date.validity.valueMissing) {
        date.setCustomValidity("Appointment date is needed!")
      } else {
        date.setCustomValidity("");
        
        if (reason.validity.valueMissing) {
          reason.setCustomValidity("Please enter your reason!");
        } else {
          reason.setCustomValidity("");
          event.preventDefault();
          $('#myModal').modal('toggle')
          $("#myModal").modal("show");
        }
      }
    }
  }, false);


var span1 = document.getElementById("span1");
var span2 = document.getElementById("span2");
var radio = document.getElementsByName('')
$('input[name="exchangeType"]').click(function() {
  if($("input[name='exchangeType']:checked").val() == 'Dollar to Pedro') {
    span1.innerHTML = '$';
    span2.innerHTML = 'P';
    $("#amount").prop('max',100);
    $("#result").prop('max',100);
  } else {
    span1.innerHTML = 'P';
    span2.innerHTML = '$';
    $("#amount").prop('max','{{budget}}');
    $("#result").prop('max','{{budget}}');
  }
});

});
$(document).on("click", "#checkValidate", function() {
  var typeExchange = $('input[name="exchangeType"]:checked', '#exchangeForm').val();
  if (typeExchange == "Dollar to Pedro") {
    document.getElementById("typeExchangeExtract").innerHTML = "Dollar";
    document.getElementById("currencyName").innerHTML = "Pedro";
  } else {
    document.getElementById("typeExchangeExtract").innerHTML = "Pedro";
    document.getElementById("currencyName").innerHTML = "Dollar";
  }
  var exchangeAmount = $("#amount").val();
  var exchangeAmountResult = $("#amount").val();
  document.getElementById("amountExtractResult").innerHTML = exchangeAmountResult;
  document.getElementById("amountExtract").innerHTML = exchangeAmount;
  if (exchangeAmount > 1) {
    document.getElementById("plural").innerHTML = "s";
    document.getElementById("plural1").innerHTML = "s";
  }
});
var reasonInput = document.getElementById('reason');
var length = reasonInput.getAttribute("maxlength");
var allowWords = document.getElementById('count');
allowWords.innerHTML = length;
reasonInput.onkeyup = function() {
  document.getElementById('count').innerHTML = (length - this.value.length);
};
$('.form_date').datetimepicker({
  weekStart: 1,
  startDate: '2017-2-02',
  todayBtn: 1,
  autoclose: 1,
  todayHighlight: 1,
  startView: 2,
  minView: 2,
  forceParse: 0,
  minDate: Date.now()
});
// $('.form_time').datetimepicker({
//   autoclose: 1,
//   startView: 1,
//   minView: 1,
//   maxView: 0,
//   showMeridian: 1,
//   format: 'HH:00 P',
//   defaultDate: '16:00'
// });
$(".readonly").on('keydown paste', function(e) {
  e.preventDefault();
});


</script>
<!-- Modal Script -->
<script type="text/javascript" src="/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
</body>
