<body id="page-top">
    <!--Head-->
    {{> navigation}}

    <!--Body-->
    <div id="center-body">
        <div class="container text-center" id="win-exchange">
          <h1 class="h1">Exchanging Money</h1>
            
            <h2>Your exchanging request has been sent to the REs successfully!</h2>
     
        </div>
    </div>


    {{> footer}}
</body>