<body id="page-top">
    <!--Head-->
    {{> navigation}}

    <!--Body-->
    <div id="center-body">
        <div class="container text-center" id="win-exchange">
          <h1 class="h1">Exchanging Money</h1>
          <ul class="nav nav-pills nav-justified btn-lg">
            <li  class="active"><a data-toggle="pill" href="#ex_p_d"><span class="btn-lg">$</span> Pedro-Dollar</a></li>
            <li><a data-toggle="pill" href="#ex_d_p"><span class="btn-lg">P</span>  Dollar-Pedro</a></li>
          </ul>
          <div class="tab-content">
            <div id="ex_p_d" class="tab-pane fade in active">
              <form class="form-inline" method=post action="/exchange_confirmation">
                <div class="input-group">
                    <div class="input-group-addon">P</div>
                    <input type="number" class="form-control" name="amount" id="amount" placeholder="Amount" data-validation="number" step="any" min="0" required>
                </div>
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="number" class="form-control" id="result" name="result" readonly placeholder="Result">
                </div>
                <br>
                <br>
                <div class="input-group">
                  <div class="boxed" style="background-color:#c6e2ff; border-radius: 5px;">Reasons</div>
                  <input type="textarea" name="reason" rows="4" cols="50" placeholder="Please tell us your reasons for exchanging money!"></input>
                </div>
                </br>        
                </br>
                <button class="btn btn-submit btn-info col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-5">Exchange</button>
                </br>
                </br>
              </form>
            </div>
          <form class="form-inline">
            <div id="ex_d_p" class="tab-pane fade">
              
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="number" class="form-control" id="exampleInputAmount" placeholder="Amount">
                </div>

                <div class="input-group">
                    <div class="input-group-addon">P</div>
                    <input type="number" class="form-control" id="exampleInputAmount" placeholder="Result">
                </div>
                </br>
                </br>
                <button class="btn btn-submit btn-info col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-5">Exchange</button>
                </br>
                </br>
                
            </div>
          </form>
          </div>
        </div>
    </div>

    <!--Tail-->
    {{> footer}}
</body>

<script>
/*
$("#amount").change(function(){
    $("#result").val($("#amount").val());
});
*/

$('#amount').each(function() {
   var elem = $(this);

   // Save current value of element
   elem.data('oldVal', elem.val());

   // Look for changes in the value
   elem.bind("propertychange change click keyup input paste", function(event){
      // If value has changed...
      if (elem.data('oldVal') != elem.val()) {
       // Updated stored value
        elem.data('oldVal', elem.val());
        $("#result").val($("#amount").val());
     }
   });
 });
</script>