{{> simNav}}
<div class="container-fluid">
	<div class="row"><br />
		<div class="col s12 l10 offset-l1" id="transfer">
			<div class="card">
				<div class="card-content">
					<table class="striped responsive-table centered">
						<thead>
							<tr>
								<th>Date</th>
								<th>Recipient</th>
								<th>Amount</th>
								<th>Remain Budget</th>
								<th>Reason</th>

							</tr>
						</thead>

						<tbody>
							<tr>
								<td>Jan 12, 2017</td>
								<td>sovannou.p@ligercambodia.org</td>
								<td>P5</td>
								<td>P6</td>
								<td>Pay the money back!</td>
							</tr>
							<tr>
								<td>Jan 12, 2017</td>
								<td>sovannou.p@ligercambodia.org</td>
								<td>P5</td>
								<td>P6</td>
								<td>Pay the money back!</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col s12 l10 offset-l1" id="exchange">
			<div class="card">
				<div class="card-content">
					<div class="row">
						<div class="col s12 m4 l4">
							<div class="card blue-grey darken-1 white-text">
								<div class="card-content">
									<tr>
										<p class="left">Jan 12, 2017</p>

										<p class="right">P60</p>
									</tr>
									<br /> <br />
									<center><button data-target="modal1" class="btn">Detail</button></center>
								</div>
								<div id="modal1" class="modal black-text">
								    <div class="modal-content">
								      <h4 class="center">Jan 12, 2017</h4>
								      <p>Type: pedro-dollar <br />Initial Exchange: P12 <br /> Amount: P12.5 <br /> Reason: klfsdhal;fhadslk flsdkajf lsdkjf <br /> RE Approve: Yes <br /> RE Approve Date: Jan 15, 2017 <br /> Keeper Approve: Pendding <br /> </p>
								    </div>
								    <div class="modal-footer">
								      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
								    </div>
							  	</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>