<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Liger Digital Currency</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Exchanging System</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Tutorial</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<nav class="navbar navbar-default">
        <div class="container-fluid nav">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand col-">LIGER DIGITAL CURRENCY</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="https://docs.google.com/a/ligercambodia.org/document/d/1Dl7fUAoim1HoMPp-TP-QE9wBLdmpYnWw-1txFFOLReA/edit?usp=sharing" target="_blank">About Us</a></li>
                <li><a href="https://docs.google.com/a/ligercambodia.org/document/d/1KXjOifY3_VI-peeJjON5PmBTYuQ3pDz5r_Ci4gfy5Js/edit?usp=sharing" target="_blank">Exchange System</a></li>
                <li><a href="#">Tutorial</a></li>
                <li><a href="#">Login</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      <h1 class="headerbar col-xs-12"> LIGER DIGITAL CURRENCY</h1>
      <div class="col-xs-12"><hr></div>   
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="text-center">Account Login</h2>
         <div class="modal-body">
            <form class="col-md-12 center-block">
              <div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="Username">
              </div>
              <div class="form-group">
                <input type="password" class="form-control input-lg" placeholder="Password">
              </div>
              <div class="form-group">
                <input type="submit" class="btn-block btn-lg btn-primary center-block" value="Login">
                <span class="pull-right"><a href="#">Cancel</a></span>
                <span><a href="#">Forget Password</a></span>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
</body>
