<main>
    <div class="container-fluid amber" style="height: 100%; width: 100%; position: fixed; background-image: url(http://i.imgur.com/iWBk7rH.jpg);
        background-position: bottom center;
        background-size: cover; background-attachment: fixed;">
        <br>
        <br>
        <br>
        <div class="row" style="width: 350px;">
            <div class="col s12">
                <div class="card-panel z-depth-4">
                    <div class="row">
                        <div class="col s12 center">
                            <img src="/img/android-icon-192x192.png" class="circle responsive-img login-image-logo" alt="">  <br>
                            <span>LIGER DIGITAL CURRENCY</span>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="row">
                        <div class="s12 center">
                            <a href="/auth/google/login" class="btn-large green">Login with Google</a>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="row">
                        <div class="s12 center">
                            <span>You need to have <span class="green-text">ligercambodia.org</span> domain in order to login!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>