<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Liger Digital Currency</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About Us</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Exchanging System</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Tutorial</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Login</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">LIGER DIGITAL CURRENCY</h1>
                <hr>
                <p>Liger Learning Center</p>
                <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                <h2 class="text-center" style="color: black;">Account Login</h2>
                <div class="modal-body">
                <form class="col-md-12 center-block">
                <div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="Username">
                </div>
                <div class="form-group">
                <input type="password" class="form-control input-lg" placeholder="Password">
                </div>
                <div class="form-group">
                <input type="submit" class="btn-block btn-lg btn-primary center-block" value="Login">
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>
            </div>
        </div>
    </header>
      
    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>LIGER DIGITAL CURRENCY</h2>
                <a href="http://startbootstrap.com/template-overviews/creative/" class="btn btn-default btn-xl sr-button">@Copyrights Liger Learning Center!</a>
            </div>
        </div>
    </aside>
    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="/js/creative.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
        </script>




</body>