
<div id="center-body">
    <div class="container text-center" id="win-transfer">
    
        <div class="col-md-4 col-md-offset-4" id="login-div">
            <p class="h1">Hey, there!</p>
            {{#if message}}
            <p class="h4">{{message}}</p>
            {{/if}}
            <br/>
            <br/>
            <br/>
            <a class="btn btn-block btn-social btn-google" style="text-align: center" onclick="signinGoogle()">
            <span class="fa fa-google"></span> Login with Google
          </a> 
          <br/>
            <br/>
            <br/>
            <p class="h6">You need to have <span class="email-link">ligercambodia.org</span> or <span class="email-link">ligertrading.com</span> in order to login!</p>

           
        </div>
        
        
</div>

<script>
    var auth0 = new Auth0({
        domain: '{{env.AUTH0_DOMAIN}}',
        clientID: '{{env.AUTH0_CLIENT_ID}}',
        callbackURL: '{{env.AUTH0_CALLBACK_URL}}'
    });

    function signinGoogle(){
        console.log("hello")
        auth0.signin({
            connection: 'google-oauth2',
        });
    }
</script>

