{{> mainNav}}
<div class="container-fluid">
	<div class="white fixed col l2 m4 padScroll">
		<div class="hide-on-small-only">
			<ul class="section table-of-contents">
			  <li class="white-text"><a href="#home">Home</a></li>
			  <li class="white-text"><a href="#about">About</a></li>
			  <li class="white-text"><a href="#tutorial">Tutorial</a></li>
			  <li class="white-text"><a href="#contact">Contact</a></li>
			</ul>
	    </div>
	</div>

	<div class="col s12 light-green darken-1  section scrollspy" id="home">
		<div class="card transparent z-depth-0 hight">
			<div class="card-content">
				<div class="card-title center"></div>
				<div class="row">
					<h2 class="center black-text">Hello, welcome to </h2><h2 class="type center black-text"></h2>
				</div>
			</div>
		</div>
	</div>

	<div class="col s12 blue-grey accent-3 section scrollspy" id="about">
		<div class="card-panel transparent z-depth-0">
			<div class="card-content" style="text-align: center;">
				<h3 class="card-title center white-text">About Us</h3>
				<div class="row">
					<div class="col s12 l3 m6">
						<div class="card small">
							<div class="card-content">
								<div class="card-title"><h4>Who are we?</h4></div>
								<div class="row">
									<h5>Liger Leadership Academy</h5>
								</div>
							</div>
						</div>
					</div>

					<div class="col s12 l5 m6">
						<div class="card medium">
							<div class="card-content">
								<div class="card-title"><h4>Project’s aim?</h4></div>
								<div class="row">
									<h5>Construct a digital system of exchanging our own Liger currency (Pedro)</h5>
								</div>
							</div>
						</div>
					</div>

					<div class="col s12 l4 m6">
						<div class="card small">
							<div class="card-content">
								<div class="card-title"><h4>Account types?</h4></div>
								<div class="row">
									<h5>Apartment, Book-keeper, Residential Educator, individual Senior, and Admin Account!</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s12 l3 m6">
						<div class="card small">
							<div class="card-content">
								<div class="card-title"><h4>Who is our user?</h4></div>
								<div class="row">
									<h5>Initial release will be for Senior Cohort only!</h5>
								</div>
							</div>
						</div>
					</div>

					<div class="col s12 l5 m6">
						<div class="card">
							<div class="card-content">
								<div class="card-title"><h4>What is Liger Currency Unit?</h4></div> 
								<div class="row">
									<h5>Pedro</h5>
								</div>
							</div>
						</div>
					</div>

					<div class="col s12 l4 m6">
						<div class="card small">
							<div class="card-content">
								<div class="card-title"><h4>Platforms?</h4></div>
								<div class="row">
									<h5>Apartment, Exchange, Transfer, History, Keepers, Residential Educator, and Admin</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col s12 white"></div>
	
	<div class="col s12 blue-grey section scrollspy" id="tutorial">
		<div class="col s12 l6 card transparent z-depth-0">
			<div class="card-content">
				<div class="card-title center"></div>
				<div class="row">
					<div class="card col s12 m4 l4 light-blue accent-4 borderRadLess z-index-0 center">
						<div class="card-content">
							<span class="card-title">Exchange</span>
							<div>
								<i class="large material-icons">&#xE915;</i>
							</div>
						</div>
					</div>
					<div class="card col s12 m4 l4 white borderRadLess z-index-0 center">
						<div class="card-content">
							<span class="card-title">History</span>
							<div>
								<i class="large material-icons">&#xE889;</i>
							</div>
						</div>
					</div>
					<div class="card col s12 m4 l4 amber accent-4 borderRadLess z-index-0 center">
						<div class="card-content">
							<span class="card-title">Transfer</span>
							<div>
								<i class="large material-icons">&#xE572;</i>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col s12">
						<div class="card white z-depth-0">
							<div class="card-content">
								<h3 class="card-content center">For more info, check our Doc!</h3>
								<div class="center">
									<button class="center btn-large red accent-2 black-text">Bring to Doc...</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					
					<div class="card col s12 m4 l4 teal darken-1 borderRadLess z-index-0 center white-text">
						<div class="card-content">
							<div>
								<i class="large material-icons">&#xE84F;</i>
							</div>
							<span class="card-title">Keeper</span>
						</div>
					</div>
					<div class="card col s12 m4 l4 black borderRadLess z-index-0 center white-text">
						<div class="card-content">
							<div>
								<i class="large material-icons">&#xE7FD;</i>
							</div>
							<span class="card-title">Recidential Educator</span>
						</div>
					</div>
					<div class="card col s12 m4 l4 light-green darken-1 borderRadLess z-index-0 center white-text">
						<div class="card-content">
							<div>
								<i class="large material-icons">&#xE335;</i>
							</div>
							<span class="card-title">Apartment</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col s12 light-green section scrollspy" id="contact">
		<div class="card transparent z-depth-0">
			<div class="card-content">
				<div class="row">
					<div class="col s12 m12 l8">
						<div class="card">
							<div class="card-content">
							<div class="row">
								<h4>Liger Leadership Academy</h4>
								<div class="col s12 l6 green"></div><br />
								<div class="col s12 l11 offset-l1">
									<p>Phum Chumposka-ek <br />
									St. 112, Sangkat Prekthmey Khan Mean Chey <br />
									Phnom Penh, Cambodia</p>
									<br />
									<p>e-mail: <a href="mailto:contact@theligerfoundation.org">contact@theligerfoundation.org</a> <br />
									phone: (+855) 23 555 0462</p>
								</div>
							</div>
							<div class="row">
								<h4>L.D.C Team</h4>
								<div class="col s12 l8 red"></div> <br />
								<div class="col s12 l11 offset-l1">
									
									<p>Project Lead by: Alli Bukys<br />
									e-mail: <a href="mailto:alli.b@ligercambodia.org">alli.b@ligercambodia.org</a></p>
								</div>
							</div>
							</div>
						</div>
					</div>

					<div class="col s12 m12 l4">
						<div class="card">
							<div class="card-content">
								<h5 class="card-title">Report Bugs</h5>
								<div class="row">
									<p>Please report bugs!</p>
								</div>
								<div class="card-action center">
									<a href="https://goo.gl/forms/wSBkqoqRVqBkLuNV2">Report</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{> mainFooter}}
</div>

<style type="text/css">
html {
	font-family: sans-serif;
}

.no-padding{
	padding: 0px;
}

.hight {
    padding-top: 15%;
    padding-bottom: 15%;
}

.fixed{
	position: fixed;
}

.padScroll{
	padding-right: 2%;
	bottom: 0;
	z-index: 1;
}

.borderRadLess{
	border-radius: 0;
}

</style>
<script type="text/javascript">
	$('.scrollspy').scrollSpy();
 	var options = [
	    {selector: '#home', offset: 300, callback: function(el) {
	      Materialize.toast("Home", 3000 );
	    } },
	    {selector: '#about', offset: 300, callback: function(el) {
	      Materialize.toast("About", 3000 );
	    } },
	    {selector: '#tutorial', offset: 300, callback: function(el) {
	      Materialize.toast("Tutorial", 3000 );
	    } },
	    {selector: '#contact', offset: 300, callback: function(el) {
	      Materialize.toast("Contact", 3000 );
	    } },
    ];
    Materialize.scrollFire(options);


	$('.type').typeIt({
	    loop: true,
	    loopDelay: 1000,
	    startDelete: true,
	    breakLines: false,
	    breakDelay: 2000,
	    strings: ["the Liger Digital Currency!"],
	    speed: 100
	}); 
</script>