{{> mainNav}}
<style type="text/css">

html {
	font-family: sans-serif;
}
.no-padding{
	padding: 0px;
}
.height {
padding-top: 15%;
padding-bottom: 15%;
}
.fixed{
	position: fixed;
}
.padScroll{
	padding-right: 2%;
	bottom: 0;
	z-index: 1;
}
.borderRadLess{
	border-radius: 0;
}
.parallax img {
max-width: 100%;
height:auto;
}
</style>
<script type="text/javascript">
$( document ).ready(function() {

	$('.type').typeIt({
	loop: true,
	loopDelay: 1000,
	startDelete: true,
	breakLines: false,
	breakDelay: 2000,
	strings: ["to the Liger Digital Currency!", "user!"],
	speed: 100,
	});
	$('.parallax').parallax();
	
	// $('.scrollspy').scrollSpy();
	// 	var options = [
	//     {selector: '#home', offset: 300, callback: function(el) {
	//       Materialize.toast("Home", 3000 );
	//     } },
	//     {selector: '#about', offset: 300, callback: function(el) {
	//       Materialize.toast("About", 3000 );
	//     } },
	//     {selector: '#tutorial', offset: 300, callback: function(el) {
	//       Materialize.toast("Tutorial", 3000 );
	//     } },
	//     {selector: '#contact', offset: 300, callback: function(el) {
	//       Materialize.toast("Contact", 3000 );
	//     } },
//    ];
//    Materialize.scrollFire(options);
});
</script>
<div class="container-fluid responsive-img">
	<div class="parallax-container responsive-img">
		<div class="parallax" style="background-color: #add8e6">
		<img class="responsive-img" style="max-width: 100%; height:auto;" src="img/team.jpg">

			<div class="col s12 section scrollspy"> <!-- #f60909 -->
			<div class="card transparent z-depth-0 height">
				<div class="card-content">
					<div class="card-title center"></div>
					<div class="row">
						<h2 class="center white-text">Hello, welcome </h2>
						<h2 class="type center white-text"></h2>
					</div>
				</div>
			</div>
		</div>
		</img>
	</div>
</div>

<div class="col s12 section scrollspy" style="background-color: #D6EAF8">
	<div class="col s12 l6 card transparent z-depth-0">
		<div class="card-content">
			<div class="row">
				<div class="card col s12 m4 l4 borderRadLess z-index-0 center white-text" style="background-color: #94A2A3">
					<div class="card-content">
						<h5>Project's aim?</h5> <br> <br> <h5>Construct a digital system of exchanging our own Liger currency (Pedro)</h5>
					</div>
				</div>
				<div class="card col s12 m4 l4 borderRadLess z-index-0 center white-text" style="background-color: #94A2A3">
					<div class="card-content">
						<h5>Account Types?</h5> <br> <br> <h5>Apartment, Book-keeper, Residential Educator, individual Senior, and Admin Account!</h5>
					</div>
				</div>
				<div class="card col s12 m4 l4 lighten-1 borderRadLess z-index-0 center white-text" style="background-color: #94A2A3">
					<div class="card-content">
						<h5>Platforms?</h5> <br> <br> <h5>Apartment, Exchange, Transfer, History, Keepers, Residential Educator, and Admin</h5>
					</div>
				</div>
				<div class="card col s12 m4 l6 borderRadLess lighten-3 z-index-0 center white-text" style="background-color: #C25654">
					<div class="card-content">
						<h5>Initial release will be for Senior Cohort only!</h5>
					</div>
				</div>
				<div class="card col s12 m4 l6 lighten-1 borderRadLess z-index-0 center white-text" style="background-color: #C25654">
					<div class="card-content">
						<h5>Liger Currency Unit is Pedro!!</h5>
					</div>
				</div>
				<div class="card transparent #d3d3d3 z-depth-0" style="margin:0;">
					<div class="card-content" style="margin:left;">
						<div class="card col s12 m4 l3 borderRadLess z-index-0 center white-text" style="background-color: #009BDE">
							<a href = "https://goo.gl/NZ1S7h" target="_blank" style ="color: rgb(255,255,255)"><font color="FFFFFF">
							<div class="card-content">
								<div>
									<i class="large material-icons">bug_report</i>
								</div>
								<span class="card-title">Bug</span>
							</div> </font></a>
						</div>
						<div class="card col s12 m4 l3 borderRadLess z-index-0 center white-text" style="background-color: #009BDE">
							<a href = "https://goo.gl/xi2VRU" target="_blank" style ="color: rgb(255,255,255)"><font color="FFFFFF">
							<div class="card-content">
								<div>
									<i class="large material-icons">email</i>
								</div>
								<span class="card-title">Contact</span>
							</div> </font></a>
						</div>
						<div class="card col s12 m4 l3 borderRadLess z-index-0 center white-text" style="background-color: #009BDE">
							<div class="card-content">
								<div>
									<i class="large material-icons">help</i>
								</div>
								<span class="card-title">Tutorial</span>
							</div>
						</div>
						<div class="card col s12 m4 l3 borderRadLess z-index-0 center white-text" style="background-color: #009BDE">
							<div class="card-content">
								<div>
									<i class="large material-icons">info</i>
								</div>
								<span class="card-title">More info</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{{> mainFooter}}