{{> navigation}}
<div id="center-body">
        <div class="container text-center" id="win-transfer">

        <p style="font-size:100px;">404</p>
		
		{{#if user}}
			<h1>Sorry, {{user._json.given_name}}! This Page doesn't exist!</h1>
		{{else}}
			<h1>Sorry! This Page doesn't exist!</h1>
		{{/if}}


        </div>
</div>


{{> footer}}