
<div class="container-fluid">
	<div class="row padding">
		<div class="col s12 m6 l6">
			<img src="/img/shock.png" width="400" class="right hide-on-small-only">
		</div>
		<div class="col s12 m4 l4">
			<bold><h1>Ooops!</h1></bold>
			<h5>Error 404</h5>
			<h4>Sorry, we can't find the page that you're looking for.</h4>
			<center><a href="/" class="btn green">Return</a></center>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('.materialboxed').materialbox();
});
       
</script>

<style type="text/css">
body{
	background-color: #eceff1;
}
.padding{
	padding-top: 10%;
	padding-bottom: 9%;
}
</style>