{{> navigation}}
	<div id="center-body">
        <div class="container text-center" id="win-transfer">
        	<p class="text-lg">Family name: <input type="text" value="{{user.name.familyName}}" readonly></p>
        	<p>Given name: <input type="text" value="{{user.name.givenName}}" readonly></p>
        	
        	<p>Fullname: <input type="text" value="{{user.displayName}}" readonly></p>
        	
        	<p>Email: <input type="text" value="{{user.provider}}" readonly></p>
        </div>
    </div>
{{> footer}}

