{{> mainNav}}

</br>

<div class="container-fluid">
	<div class="row">
		<div class="col s12 l3">
			<div class="card amber">
				<div class="card-content">
					<span class="card-title">Total Budget: </span>
					<h3 class="center white-text">P {{budget}}</h3>
				</div>
			</div>
		</div>

		<div class="col s12 l8">
		  <div class="card circle z-depth-2">
		    <div class="card-content black-text center">
		      <span class="card-title center">Personal Transfer</span>
		      <div class="container-fluid">
		      <div class="row">

		        <form class="col s12" id="transfer" method="post" action="/transfer_success">
		          <div class="row">
		            <div class="input-field col s6 l4 offset-l2">
		              <input id="amount" type="number" class="validate marginLess" name="amount" style="margin: 0;">
		              <label for="amount" class="active">Amount</label>
		            </div>

		            <div class="input-field col s6 l4">
		              <input id="email" type="email" class="validate" name="recipient" list="liger_email" style="margin: 0;">
		              <label for="email" class="active">e-mail</label>

		              <datalist id="liger_email">
		         	    {{#each emails}}
						  <option>{{this}}</option>
						{{/each}}
					  </datalist>

		            </div>
		          </div>

		          <div class="row">
		          	<div class="col s6 l4 offset-l2">
		          		<center>	
		          		<label id="amount-error" class="error red-text" for="amount"></label>
		          		</center>
		          	</div>
		          	<div class="col s6 l4">
		          		<center>
		          			<label id="email-error" class="error red-text" for="email"></label>
		          		</center>
		          	</div>
		          </div>

		          <div class="row">
		            <div class="input-field col s12 l8 offset-l2">
		              <textarea id="reason" class="materialize-textarea validate" name="reason" data-length="200" data-error="Check it again" style="margin: 0;"></textarea>
		              <label for="reason">Reason</label>
		            </div>
		          </div>
		          <div class="row">
		          	<div class="col s12 l8 offset-l2">
		          		<center>
		          			<label id="reason-error" class="error red-text" for="reason"></label>
		          		</center>
		          	</div>
		          </div>
		          <div class="row">
		            <div class="input-field col s6 m6 l4 offset-s2 offset-m3 offset-l4">
		                <a class="waves-effect waves-light btn center" href="#comfirm" onclick="check()">Submit</a>
		            </div>
		          </div>

				  <div id="comfirm" class="modal bottom-sheet">
				    <div class="modal-content hide-on-small-only">
				      <h3>Comfirmation</h3>
				      <h4 class="center">Are you sure that you want to transfer <a href="#amount" class="modal-action modal-close" id="amountInput">x</a>  to e-mail: <a href="mailto:" id="emailInput">someone@ligercambodia.org</a>?</h4>
				    </div>
				    <div class="modal-content show-on-small-only hide-on-med-and-up">
				      <h5>Comfirmation</h5>
				      <h6 class="center">Are you sure that you want to transfer <a href="#amount" class="modal-action modal-close" id="amountInput">x</a> to e-mail: <a href="mailto:" id="emailInput">someone@ligercambodia.org</a>?</h6>
				    </div>
				    <div class="modal-footer center">
					    <center>
					      <a href="#" class="modal-action modal-close waves-effect waves-black btn-flat amber">Disagree</a>
					      <button class="green waves-effect waves-black btn-flat" type="submit">Agree</button>
					    </center>
				    </div>
				  </div>
		        </form>

		      </div>
		      </div>
		  </div>
		</div>
	</div>
</div>

{{> mainFooter}}

<style type="text/css">
.marginLess {
	margin: 0;
}
</style>

<script type="text/javascript">
function check(){
	var amount = document.getElementById('amount').value;
	var email = document.getElementById('email').value;

	document.getElementById('amountInput').innerHTML = "P 0" + amount;
	document.getElementById('emailInput').innerHTML = email;
}
$('textarea#reason').characterCounter();
$('.modal').modal();

$(function() {

	$.validator.addMethod('list', function(value, element){
		
		var	email= [{{#each emails}} "{{this}}", {{/each}}];
		
		var wrong = 0;
		for(var i = 0; i < email.length; i++){
			if(value == email[i]){
				wrong = 1;
				break;
			}
		}
		return this.optional( element ) || wrong == 1;
	}, "Please write a better email!");

	$( "#transfer" ).validate({
		rules: {
			amount: {
				required: true,
				min: 0,
				max: {{budget}},
				number: true
			},
			recipient: {
				required: true,
				email: true,
				list: true
			},
			reason: {
				maxlength: 200,
				required: true
			}
		},
		messages:{
			amount: {
				required: "<span class='center'>Needed!<span>",
				min: "Please add an integer!",
				max: "It too much!",
				number: "Number please!"
			}
		},
		submitHandler: function(form) {
			$.ajax({
				url: form.action,
				type: form.method,
				data: $(form).serialize(),
				success: function(response) {
					Materialize.toast(response, 4000)
					if (response == "Sent") {
						$('.modal').modal('close');
						location.reload();
					} 
				},
				error: function(xhr, status, error) {
					alert(xhr.responseText)
				}
			});
		}
	});
});
</script>