<body id="page-top">
    <!--Head-->
    <nav class="navbar" id="mainNav" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <div class="animbrand">
              <a class="navbar-brand animate" href="#">LIGER DIGITAL CURRENCY</a>
            </div>
          </div>

          <div class="bsa-apiads hidden-sm hidden-xs"></div>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="glyphicon glyphicon-th" style="transform:scale(1.5,1.5);"></span>
                </a>

                <ul class="dropdown-menu">
                  <li><a href="/transfer">Transfer</a></li>
                  <li><a href="/exchange">Exchange</a></li>
                  <li><a href="/user_histories">History</a></li>
                  <li><a href="#" id="nav-setting">Setting</a></li>
                  <li><a href="#" id="nav-sign-out">Log Out</a></li>
                </ul>
              </li>

              <li>
                <a href="#">
                  <span class="glyphicon glyphicon-king" style="transform:scale(1.5,1.5);"></span>
                </a>
              </li>
            </ul>
          </div>

          <div class="bootsnipp-search">
            <div class="container">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-danger" type="reset">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </span>
                </div>
            </div>
          </div>
        </div>
    </nav>

    <!--Body-->
    <div id="center-body">
        <div class="container text-center" id="win-transfer">
          <h1 class="h1">Transfering Money</h1>
          </br>
          <button button="button" class="btn btn-primary">Your budget <span class="badge">P250</span></button>
            </br>
            </br>
            <form class="form-inline">
              <div class="form-group">
                   <div class="input-group">
                      <div class="input-group-addon">P</div>
                      <input type="number" class="form-control" id="exampleInputAmount" placeholder="Amount">
                   </div>

                   <div class="input-group">
                      <div class="input-group-addon">@</div>
                      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Account">
                   </div>                             
              </div>
            </form>
            </br>
            <button type="button" class="btn btn-info col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-5">Send <span class="glyphicon glyphicon-send"></span></button>
        </div>
    </div>

    <!--Tail-->
    <aside class="bg-dark">
        <div class="container-fluid text-center">
            <h3 class="h3"><a href="/" class="none">LIGER DIGITAL CURRENCY</a></h4>
            </br>  
            <div class="row">
                <div class="col-lg-4 col-sm-4 col-xs-4">
                    <a href="#" class="none">
                        <span class="fa fa-4x fa-newspaper-o"></span>
                        <h5>TUTORIAL</h4>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-4 col-xs-4">
                    <a href="/about_us" class="none">
                        <span class="fa fa-users fa-4x "></span>
                        <h5>ABOUT US</h4>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-4 col-xs-4">
                    <a href="#" class="none">
                        <span class="fa fa-comments fa-4x"></span>
                        <h5>CONTACT US</h4>
                    </a>
                </div>
            </div>  
        </div>
    </aside>
</body>