<body id="page-top">
    <!--Head-->
    {{> navigation}}

    <!--Body-->
    <div id="center-body">
        <div class="container text-center" id="win-transfer">
          <h1 class="h1">Transferring Money</h1>
          </br>
          <button button="button" class="btn btn-primary">Your Current Budget <span class="badge"> P{{#each budget}} {{this.budget}}{{/each}}</span></button>
            </br>
            </br>
            <form class="form-inline" method=post action="/transfer_confirmation">
              <!-- method=post action="/transfer_confirmation" -->
                <div class="form-group">
                     <div class="input-group">
                        <div class="input-group-addon">P</div>
                        <input data-validation="number" data-validation-allowing="float" class="form-control" name="amount" placeholder="Amount" data-validation="required">
                     </div>

                     <div class="input-group">
                        <div class="input-group-addon">@</div>
                        <input type="text" class="form-control" name="recipient" id="userInput" placeholder="Account">
                     </div>
                 
                               
                </div>
              </br>
              </br>
              <input type="submit" value="Submit" class="btn btn-info col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-5">
              </input>
            </form>
        </div>
    </div>
    
    <!--Tail-->
    {{> footer}}

</body>
<script src="js/jquery.min.js"></script>
<script src="js/form-validator/jquery.form-validator.min.js"></script>
<script>
    $.validate({
        modules : 'date, security'
    });

function myFunction() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("userInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("allUser");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";

        }
    }
}

</script>   
