<body id="page-top">
    <!--Head-->
    {{> navigation}}

    <!--Body-->
    <div id="center-body">
        <div class="container text-center" id="win-transfer">
          <h1 class="h1">Transferring Money</h1>
          </br>
          <button button="button" class="btn btn-primary">Your Current Budget <span class="badge"> P{{#each budget}} {{this.budget}}{{/each}}</span></button>
            </br>
            </br> 
            <form class="form-inline" method=post action="/transfer_confirmation">
              <!-- method=post action="/transfer_confirmation" -->
                <div class="form-group">
                     <div class="input-group">
                      {{#each budget}}
                        <div class="input-group-addon">P</div>
                        <input data-validation="number" type="number" data-validation-allowing="float" class="form-control" name="amount" placeholder="Amount" data-validation="required" min="0" max="{{this.budget}}" step="any" required>
                      {{/each}}
                     </div>

                     <div class="input-group">
                      
                        <div class="input-group-addon">@</div>
                        <input type="email" class="form-control" name="recipient" id="userInput" data-validation="email" placeholder="Account" required>
                     
                     </div>       
                </div>
              </br>
              </br>
              <input type="submit" value="Submit" class="btn btn-info col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-5">
              </input>
            </form>
        </div>
    </div>
    
    <!--Tail-->
    {{> footer}}

</body>
<script src="js/jquery.min.js"></script>
<script src="js/form-validator/jquery.form-validator.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script>
    $.validate({
        modules : 'date, security'
        lang : 'en'
    });
}

</script>   
