<body id="page-top">

    
    <div id="center-body">
        <div class="container text-center" id="win-transfer">
          <h1 class="h1">Transfer Success!</h1>
          </br>
          <h2>You have successfully transferred <span class="badge">{{amount}}</span> Pedros to <span class="badge">{{recipient}}</span>!!</h2>
          <br>  
            <button type="button" id="return" class="btn btn-info col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-5" >Back to Home Page <span class="glyphicon glyphicon-send"></span></button>
    </div>
        <br>
        <br>
    <script type="text/javascript">
        $("#nav-transfer").on("click", function (event){
            $("#win-transfer").show();
            $("#win-exchange").hide();
            $("#win-history").hide();
        });
        $("#nav-exchange").on("click", function (event){
            $("#win-exchange").show();
            $("#win-history").hide();
            $("#win-transfer").hide();
        });
        $("#nav-history").on("click", function (event){
            $("#win-history").show();
            $("#win-transfer").hide();
            $("#win-exchange").hide();
        });
    </script>
<style type="text/css">
        #center-body {
          background-color: whitesmoke;
          padding: 7% 0% 7% 0%;
        }

        .none {
            text-decoration: none;
            color: white;
        }

        a:hover {
            text-decoration: none;
        }

        #win-history {
          height: 400px;
          overflow-y: auto;
        }

        #win-history::-webkit-scrollbar {
            width: 1em;
        }

        #win-history::-webkit-scrollbar-thumb {
          background-color: #4d4d4d;
          outline: solid;
          border-radius: 2px;
        }

        #win-history::-webkit-scrollbar-track {
          background-color:  #b3d9ff;
          border-radius: 4px; 
        }
        body::-webkit-scrollbar{
            width: 1em;
        }

        body::-webkit-scrollbar-thumb {
            background-color: black;
            outline: solid;
            border-radius: 2px;
        }
    </style>
</body>
<script type="text/javascript">
    $('#return').on('click', function(event){
        location.href = '/transfer';
    });
</script>
