<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

<body>
<form action="" id="registration-form">
	<input type="text" name="transfer">
	<input type="submit" name="submit">
	<input data-validation="number" type="text">
</form>
</body> 