<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<h2>Hi! My name is Vuthy! Successfully connect Github and Heroku together</h2>
<p>Test! if this still work!</p>

</body>
</html>
